.NavDark {
    display: flex;
    background-color: #040404;
    color: rgb(230, 255, 255);
    height: 100px;
    margin-bottom: 20px;
    user-select: none;
}

.NavLight {
    display: flex;
    background-color: #84caff;
    height: 100px;
    margin-bottom: 20px;
    user-select: none;
}

.NavContainer {
    width: 90%; 
    pad: 0 1.4rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NavItemContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Logo {
    width: 450px;
    display: flex;
    justify-content: space-around;
}

.TitleDark {
    font-size: 50px;
    letter-spacing: 4px;
    border-bottom: solid #0091ff;
    transition: 150ms;
    text-decoration: none;
    color: aliceblue;
}

.TitleDark:hover {
    border-color: aliceblue;
}

.TitleLight {
    font-size: 50px;
    letter-spacing: 4px;
    border-bottom: solid #0091ff;
    transition: 150ms;
    text-decoration: none;
    color: #040404;
}

.TitleLight:hover {
    border-color: #00579a;
}

#TitleTag {
    display: flex;
    justify-content: center;
    align-items: center;
}

#LogoImg {
    width: 80px;
    margin: 0 15px;
    animation: rotation 10s infinite linear;
}

#darkmode {
    -webkit-appearance: none;
    align-self: center;
    position: relative;
    width: 50px;
    height: 30px;
    border-radius: 25px;
    background-color: rgb(230, 255, 255);
    transition: background .3s;
    cursor: pointer;
}

#darkmode::after {
    content: '';
    position: absolute;
    top: 50%; 
    left: 30%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 1.25rem;
    width: 1.25rem;
    background-color: #040404;
    transition: left .3s;
}

#darkmode:checked {
    background-color: #040404;
}

#darkmode:checked::after {
    background-color: rgb(230, 255, 255);
    left: 70%;
}

.ItemDark {
    text-decoration: none;
    color: aliceblue;
    letter-spacing: 2px;
    border-bottom: solid #0091ff;
    transition: 150ms;
    margin: 0 10px 0 10px;
}

.ItemDark:hover {
    border-color: aliceblue;
}

.ItemLight {
    text-decoration: none;
    color: #040404;
    letter-spacing: 2px;
    border-bottom: solid #0091ff;
    transition: 150ms;
    margin: 0 10px 0 10px;
}

.ItemLight:hover {
    border-color: #00579a;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}